{% extends 'base.html.twig' %}

{% block title %}Editer un livre{% endblock %}

{% block body %}
    <h1>Editer {{ book.title }}</h1>

    {{ form_start(form) }}

    {{ form_row(form.title) }}
    {{ form_row(form.description) }}
    {% if book.image.id is defined %}
        <img class="js-edit-image" width="50px" src="{{ asset('uploads/' ~ book.image.name) }}" alt="">
    {% endif %}
    {{ form_row(form.image) }}

    <button class="btn btn-primary" type="submit">Ajouter</button>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
      $(document).ready(function () {
        let $input = $('.custom-file-input')

        $input.on('change', function (e) {
          let value = $input.val().replace('C:\\fakepath\\', '').trim()
          $('.custom-file-label').text('' !== value ? value : (input.getAttribute('placeholder') || ''))
        })
      })
    </script>
{% endblock %}