{% extends 'base.html.twig' %}

{% block title %}Liste des livres{% endblock %}

{% block body %}
    <h1>Liste des livres</h1>
    <table class="table table-sm">
        <thead>
        <tr>
            <th>Image</th>
            <th>Id</th>
            <th>Titre</th>
            <th>Auteur</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr id="book-{{ book.id }}">
                <td>
                    {% if book.image.name is defined %}
                        <img width="50px" src="{{ asset('uploads/' ~ book.image.name) }}" alt="">
                    {% endif %}
                </td>
                <td>{{ book.id }}</td>
                <td><a href="{{ path('book_show', {'id': book.id}) }}">{{ book.title }}</a></td>
                <td>{{ book.author.fullname }}</a></td>
                <td>{{ book.description }}</a></td>
                <td>
                    {% if book.author == app.user %}
                    <div class="d-inline-flex">
                        <a class="btn btn-primary btn-sm" href="{{ path('book_edit', {'id': book.id}) }}">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a class="js-delete-book btn btn-danger btn-sm" href="#"
                           data-book-id="{{ book.id }}"
                           data-path="{{ path('book_delete', {'id': book.id, 'token': csrf_token('delete'~book.id)}) }}">
                            <i class="fas fa-times"></i>
                        </a>
                    </div>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if books.haveToPaginate %}
        <div class="navigation text-center">
            {{ pagerfanta(books, 'twitter_bootstrap4_translated', {
                routeName: 'book_index',
                omitFirstPage: true
            }) }}
        </div>
    {% endif %}

{% endblock %}