{% extends 'base.html.twig' %}

{% block title %}{{ book.title }}{% endblock %}

{% block body %}

    <div class="card">
        <div class="row no-gutters">
            <div class="col-md-2">
                <img src="{{ asset('uploads/'~book.image.name) }}" class="card-img" alt="">
            </div>
            <div class="col-md-10">
                <div class="card-body">
                    <h5 class="card-title">{{ book.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ book.author.fullname }}</h6>
                    <p class="card-text">{{ book.description }}</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
