<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Symbook{% endblock %}</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Symbook</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('book_index') }}">Accueil</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('book_new') }}">Ajouter un livre</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('contact_index') }}">Contact</a>
            </li>
        </ul>
    </div>
</nav>

<main role="main" class="container">

    {% block body %}{% endblock %}

</main><!-- /.container -->

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}


</body>
</html>
